.navbar-lewagon {
  justify-content: space-between;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  background: #FFFFFF;
  position: sticky;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
  padding: 0px;
}

.btn-new-cocktail {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-new-cocktail:hover {
  opacity: 1;
  text-decoration: none;
}
